body, html{
    height: 100%;
}

.login {
    background-color: #54C780;
    background-image: url("fundo.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.login > .content {
    width: 320px;
}

.center {
    display: block;
    margin: 0 auto;
}

.login-form{
    margin-top: 50px;
    align-content: center;
}

.input-control > label {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 0;
}

.input-control > .input{
    height: 48px;
    width: calc (100% - 50%);
    border-radius: 24px;
    border-width: 0;
    background: #FFF;
    outline: none;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    padding: 0 25px;
}


.input-control > .input:focus{
    background: lightgray;
}

